build
build_*/
.cscope
cscope.out
cscope.files
.gdb_history
.agcache
CMakeFiles
CMakeCache.txt
compile_commands.json
cmake_install.cmake
.cache
.idea
/rdma_from_gpu.cbp
extern/grpc
extern/glog
extern/gflags
